{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}

<div class="container h-100 contact-cont">
    <div class="row">
        <div class="col">
            <h1 class="contact-head text-center mt-5">Drop us a line</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'contact' %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-right">
                    <h4>
                        <button id="contact-button" type="submit">Submit</button>
                    </h4>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}