{% extends 'base.html' %}
{% load static %}

{% block page-header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 faq-cont">
    <div class="row">
        <div class="col">
            <h2 class="logo text-center mb-5">Contact Get A Grape</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <form action="{% url 'contact' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        </div>
    </div>
</div>
{% endblock %}