@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

:root {
    --text-primary-color: #144945;
    --text-secondary-color: #fff;
    --text-third-color: #000000;
    --text-forth-color: #C5C6C7;
}

html {
    height: 100%;
}

body {
    background: url('/media/home-page.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555555;
    font-family: 'Roboto', sans-serif;
}

hr {
    border: none !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Overlay for products page to give a white background */

.overlay {
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

/* Style the nav bar toggler for mobile screen */

.navbar-toggler {
    border-color: #144945 !important;
    border-width: 3px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20, 73, 69, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#topnav,
.navbar {
    background: #d3dbde;
}

.logo-font-pro {
    z-index: 2;
    color: #504d2c;
}

.head-pro {
    margin-top: 100px;
}

.logo-font-pro:hover {
    color: #232b2e;
}

.logo-font {
    color: #f5e323;
}

.logo {
    color: #000;
    font-weight: 600 !important;
    opacity: 0.8;
    margin-top: 50px;
}

.main-logo-link {
    background-image: url('/media/grape4.png') no-repeat center center fixed;
    width: fit-content;
    font-weight: bold;
}

.shop-now-button {
    background: #ffffff;
    padding: 0.7rem;
    border-radius: 0.6rem;
    color: white;
    min-width: 260px;
    opacity: 0.9;
}

.shop-now-text {
    text-decoration: none;
    color: #000;
}

.shop-text {
    margin-top: 50px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #85d0d5;
    color: white;
    text-decoration: none;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

a.category-badge>span.badge:hover {
    background-color: #212529 !important;
    color: #fff !important;
}

/* Back to top button styles */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

}


@media (max-width: 600px) {
    .logo {
        font-size: 2rem !important;
        color: #000;
        margin-top: 140px;
        opacity: 0.8;
    }
}


/* Footer */
footer {
    background-color: #d3dbde;
    opacity: 0.8;
    position: relative;
    flex-shrink: 0;
}

.footer {
    margin-top: 60px;
}

.footer-links {
    color: #323a25;
    cursor: pointer;
    font-weight: 700;
    padding: 12px;
    font-size: 1.2rem;
}

.footer-links:hover {
    color: #323a25;
    text-decoration: none;
    opacity: 0.6;

}

.footer-div {
    padding: 10px;
}

.footer-header {
    margin-top: 30px;
    padding: 8px;
}

strong {
    color: #000 !important;
}

.contact-form {
    margin: 0 auto;
}

h6 {
    /* margin-top: 20px !important; */
    color: #323a25;
}

.text-secondary {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.optionalParent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mailchimp Styles */

.text-mc {
    font-size: 1.4rem;
    text-transform: uppercase;
}

#mc-embedded-subscribe {
    padding: 5px;
}

.mc-field-group,
.required {
    padding: 5px;
}


/* Test styles for home page nav main bar */

input[name='q']::placeholder,
.acc-btn,
.amt,
i {
    color: #504d2c;
}

.dropdown-menu {
    background-color: #d3dbde !important;
}

#delivery-banner {
    background-color: #144945;
}

.card-img-top,
.pro-name {
    margin-top: 100px !important;
}

/* .card {
    width: 00px;
} */

.btn-button {
    width: 5% !important;
    padding: 10px;
    margin-left: 10px;
}

.btt-link:hover {
    text-decoration: none !important;
}

.products-home {
    color: #504d2c !important;
}

.products-home {
    text-decoration: none !important;
}

/* Bag styles */
.bag-total-head {
    text-align: center;
}

.bag-total {
    font-weight: bold;
    padding-top: 10px;
    color: #144945;
}

.remove-item {
    color: #dc143c;
}

.update-link {
    color: #144945;
}

.remove-item:hover,
.update-link:hover {
    text-decoration: none;
}

.remove-item:hover {
    color: #dc143c;
    opacity: 0.5;
}

.update-link:hover {
    color: #144945;
    opacity: 0.5;
}

.remove-item,
.update-link {
    border: 1px solid #144945;
    padding: 0.3rem;
    border-radius: 10px;
}

.bag-contents-header {
    padding: 10px;
    color: #144945;
    text-transform: uppercase;
}

.product-head,
.qty-head {
    text-align: center;
}


#bag-heading {
    color: #144945;
    text-align: center;
    padding: 20px;
}

#shopping-link {
    color: #144945;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.product_name strong {
    color: #144945 !important;
}

.decrement-qty:hover,
.increment-qty:hover {
    background-color: #477974;
}

.alter-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.checkout-button,
.checkout-button1 {
    text-transform: uppercase;
    display: inline-block;
    background-color: #144945;
    border-radius: 10px;
    border: none;
    color: #eeeeee;
    text-align: center;
    font-size: 1rem;
    padding: 0.3rem;
    width: 200px;
    transition: all 0.5s;
    margin: 5px;
}

.checkout-button:hover,
.checkout-button1:hover {
    opacity: 0.8;
    text-decoration: none;
    transform: scale(1.1);
}

.fa-lock,
.fa-chevron-left {
    color: #fff;
}

.table-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#free_del {
    color: #144945 !important;
}

/* Styles for badges */

.badge {
    border: black solid 1px;
    padding: 10px !important;
    color: #144945;
    font-size: 0.8rem !important;
    box-shadow: 2px 2px #41855f;
}

.badge:hover {
    box-shadow: none;
    background-color: #232b2e !important;
}

.category-badge {
    padding: 20px;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* All auth styles */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #144945;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #144945;
}


.login-header {
    margin-top: 173px;
}

#product-management-header {
    margin-top: 120px;
}

/* Edit/Delete button styles */

.edit-link {
    color: #144945;
}

.delete-link {
    color: #dc143c;
    padding-left: 0.5rem;
}

.edit-link:hover,
.delete-link:hover {
    text-decoration: none;
}