@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/home-page.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo {
    color: #000;
    font-weight: 600 !important;
    opacity: 0.8;
}

.main-logo-link {
    width: fit-content;
    font-weight: bold;
}

.shop-now-button {
    background: #ffffff;
    padding: 0.7rem;
    border-radius: 0.6rem;
    color: white;
    min-width: 260px;
    opacity: 0.9;
}

.shop-now-text {
    text-decoration: none;
    color: #000;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #85d0d5;
    color: white;
    text-decoration: none;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}



/* Footer */
footer {
    background-color: #d3dbde;
    opacity: 0.8;
    position: relative;
    flex-shrink: 0;
}

.footer {
    margin-top: 60px;
}

.footer-links {
    color: #323a25;
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    font-size: 1.2rem;
}

.footer-links:hover {
    color: #323a25;
    text-decoration: none;
    opacity: 0.6;
}

.footer-div {
    padding: 5px;
}

.footer-header {
    padding: 8px;
    color: #000 !important;
}

.contact-form {
    margin: 0 auto;
}

h6 {
    margin-top: 20px !important;
    color: #323a25;
    ;
}

.text-secondary {
    text-transform: uppercase;
}

.optionalParent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mailchimp Styles */

.text-mc {
    font-size: 1.4rem;
    text-transform: uppercase;
}

#mc-embedded-subscribe {
    padding: 5px;
}

.mc-field-group,
.required {
    padding: 5px;
}