{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_title %}500 Error{% endblock %}

{% block content %}

<div class="container h-100 my-5">
    <div class="card center">
        <h3>500 Error</h3>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3>Something went wrong</h3>
                <p>The page you're looking for doesn't exist</p>
                <p>But you can use one of the links below to find your way</p>
                <div>
                    <p class="inline-flex"><a href="{% url 'products' %}" class="btn btn-black">Products</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}